.analyticsTags {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 7px;
}

.tag {
    background-color: #ffd700;
    color: #171717;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.342);
}

  
