.analyticsTags {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 7px;
}

.tag {
    background-color: #ffd700;
    color: rgb(21, 21, 21);
    padding: 8px 12px;
    border-radius: 20px;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

  
